*{
    text-align: center;
 }
.parableu
{
    color:blue;
}
#parared
{
    color:red;
}
.bleu
{
    color:blue;
}
p.vert
{
    color : green;
}
.vt
{
color: green;
background-color: rgba(160, 255, 142, 0.555);
}
.bord
{
    border: 1px solid green;
    font-weight: 100;
    opacity: 0.5;
}

a
{
    color: red;text-decoration: none;
    font-size: 40px;
   
}
a:hover
{
    color: green;text-decoration: underline;
}
a:visited
{
    color: gray;
}
