body{
    text-align: center;
    background: url(../image/rgba.png)no-repeat;
    padding-left: 10px;
    height: 200px;
    width: 100%;
 }
.parableu
{
    color:blue;
}
#parared
{
    color:red;
}
.bleu
{
    color:blue;
}
p.vert
{
    color : green;
}
.vt
{
color: green;
background-color: rgba(160, 255, 142, 0.555);
}
.bord
{
    border: 1px solid green;
    font-weight: 100;
    opacity: 0.5;
    border-radius: 15px;
}

a
{
    color: red;text-decoration: none;
    font-size: 40px;
   
}
a:hover
{
    color: green;text-decoration: underline;
}
a:visited
{
    color: gray;
}
