#p 
{
    height: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}
#top
{
    background-color: #ff6600;
    height: 100px;
    width: 100%;
}
#bottom
{
    background-color: #4c4c4c;
    height: 100px;
    width: 100%;
}